@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  background-color: var(--violet);
  background-image: url("images/bg-desktop.svg");
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 90vh;
  padding: 0;
}

.showcase {
  display: grid;
  margin: 50px 120px;
  height: 100%;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 50px;
}

#logo {
  display: block;
  height: 50px;
  grid-column: 1 / 3;
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.content {
  padding: 50px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-right: 50px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 60px;
  background-color: #fff;
  color: var(--violet);
  width: fit-content;
  margin-top: 30px;
  border-radius: 50px;
  box-shadow: 0 15px 25px 0 #0005;
  display: block;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--soft-magenta);
  color: #fff;
}

.links {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.links a:hover {
  border-color: var(--soft-magenta);
  color: var(--soft-magenta);
}

@media (max-width: 1200px) {
  body {
    background-image: url("images/bg-mobile.svg");
  }

  #logo {
    height: 40px;
  }

  .showcase {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    height: auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #illustration {
    max-width: 600px;
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin: 40px 0;
    display: block;
  }

  .links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}
