@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  display: grid;
  width: 900px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 50px;
  color: #fff;
}

.card.sedan {
  background-color: var(--bright-orange);
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}

.card.suvs {
  background-color: var(--dark-cyan);
}

.card.luxury {
  background-color: var(--very-dark-cyan);
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

.card__icon {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 3rem;
}

.card__content {
  margin-bottom: 80px;
  color: var(--transparent-white);
}

.card__button {
  border-radius: 50px;
  padding: 15px 35px;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 1px 40px 1px #0002;
  font-weight: 400;
}

.card.sedan .card__button {
  color: var(--bright-orange);
}

.card.suvs .card__button {
  color: var(--dark-cyan);
}

.card.luxury .card__button {
  color: var(--very-dark-cyan);
}
