@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --more-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: var(--very-dark-blue);
  color: #fff;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 1110px;
  margin: auto;
}

.card {
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.card .card__content {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card__title {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.3;
  margin-bottom: 30px;
  padding-right: 60px;
}

.card .card__title span {
  color: var(--soft-violet);
}

.card .card__paragraph {
  color: var(--more-transparent-white);
  flex: 1;
  padding-right: 100px;
  font-size: 15px;
  line-height: 1.5rem;
}

.card .card__stats {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  font-family: "Lexend Deca", sans-serif;
}

.card .card__stats .card__stat .num {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.card .card__stats .card__stat .label {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--slightly-transparent-white);
}

.card .card__img {
  width: 1250px;
  position: relative;
}

.card .card__img img {
  width: 100%;
  height: 100%;
}

.card .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--soft-violet);
  opacity: 0.6;
}

@media (max-width: 1150px) {
  .container {
    min-width: 800px;
    margin: 0;
  }

  .card {
    margin: 50px;
  }

  .card .card__content {
    padding: 50px;
  }

  .card .card__content .card__title {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .card .card__content .card__paragraph {
    line-height: normal;
    padding-right: 0;
  }

  .card .card__content .card__stats .card__stat {
    margin-left: 10px;
  }
}

@media (max-width: 1000px) {
  .card .card__content .card__paragraph {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    min-width: 0;
  }

  .card {
    flex-direction: column;
  }

  .card .card__content .card__paragraph {
    display: block;
    margin-bottom: 40px;
  }

  .card .card__img {
    background-image: url("images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -200px;
    order: 1;
  }

  .card .card__content {
    order: 2;
  }
}

@media (max-width: 550px) {
  body {
    margin-bottom: 20px;
  }

  .container {
    margin: 0;
    padding: 20px;
  }

  .card {
    margin: auto;
  }

  .card .card__content {
    padding: 30px;
  }

  .card .card__content .card__title {
    padding-right: 0;
  }

  .card .card__img {
    margin-top: -10px;
  }
}
