@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$gradient: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: $very-dark-blue;
  color: #fff;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  font-family: "Raleway", sans-serif;
  font-weight: 400;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .component {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .controls {
        background-color: $dark-blue;
        padding: 40px;
        margin: 40px;
        border-radius: 10px;
        border-start-end-radius: 100px;
        padding-right: 100px;

        img {
          display: block;
          margin-right: 100px;
        }

        button {
          width: 50px;
          height: 50px;
          margin-top: 40px;
          outline: none;
          border-radius: 10px;
          border: none;
          margin-right: 10px;
          background-color: $very-dark-blue;
          background-repeat: no-repeat;
          background-position: center;

          &.doc {
            background-image: url("../images/icon-document.svg");
          }

          &.folder {
            background-image: url("../images/icon-folder.svg");
          }

          &.upload {
            background-image: url("../images/icon-upload.svg");
          }
        }
      }

      .data {
        background-color: $dark-blue;
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 40px;
        font-size: 14px;
        color: #fffb;
        position: relative;

        span {
          font-weight: 700;
          color: #ffff;
        }

        .bubble {
          background-color: #fff;
          color: $grayish-blue;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          width: 185px;
          border-radius: 10px;
          border-end-end-radius: 0;
          position: absolute;
          padding: 15px 20px;
          top: -50px;
          right: 50px;

          p {
            display: flex;
            align-items: center;
          }

          span {
            display: inline-block;
            color: $very-dark-blue;
            font-weight: 700;
            font-size: 2.5rem;
            margin-right: 10px;
          }

          .triangle {
            display: block;
            width: 0;
            height: 0;
            border-right: 10px solid #fff;
            border-top: 10px solid #fff;
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            position: absolute;
            bottom: -20px;
            right: 0;
          }
        }

        .progress-bar {
          margin-top: 20px;
          border-radius: 20px;
          width: 450px;
          height: 20px;
          background-color: lighten($very-dark-blue, 7);
          padding: 3px;
          overflow: hidden;

          .progress {
            width: 81.5%;
            height: 100%;
            border-radius: inherit;
            background-image: $gradient;
            padding: 3px;
            display: flex;
            justify-content: flex-end;

            .circle {
              background-color: #fff;
              height: 100%;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }
        }

        .meter {
          font-weight: 700;
          font-size: 13px;
          display: flex;
          margin-top: 10px;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  body {
    background-image: url("../images/bg-mobile.png");
    background-size: cover;

    .container {
      display: flex;
      align-items: center;

      .component {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .controls {
          width: 100%;
        }

        .data {
          margin: 40px;
          width: 100%;

          p {
            text-align: center;
          }

          .progress {
            .bubble-container {
              display: flex;
              justify-content: center;

              .bubble {
                border-radius: 10px;
                top: auto;
                right: auto;
                bottom: -40px;
                align-self: center;

                .triangle {
                  display: none;
                }
              }
            }
          }

          .progress-bar {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  body .container .component .controls button {
    margin-right: 5px;
  }
}
